body {
    background-color: rgb(204, 177, 53);
}

h1 {
    background-color: rgb(189, 81, 81);
}

p:first-of-type {
    background-color: rgb(0, 255, 0);
}

h2 {
    background-color: rgb(41, 130, 144);
}

p:last-of-type {
    background-color: rgb(219, 54, 147);
}

.list {
    color: rgb(222, 20, 20);
}

.list li:nth-child(2) {
    color: yellow;
}

.list li:nth-child(3) {
    color: rgb(26, 161, 116);
}

.list li:nth-child(4) {
    color: rgb(29, 116, 29);
}

.list li:nth-child(5) {
    color: rgba(5, 18, 34, 0.597);
}
